@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('./style-main.css');
@import url('./style-footer.css');

h1,
h2,
h3 {
    font-family: 'Lato', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
    max-width: 1160px;
    margin: auto;
    background-color: #d1d1d1;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #17abb3;
    box-sizing: border-box;
}

.profile-image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    cursor: zoom-in;
}

.profile-info {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.profile-info h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 3em;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 5px;
}

.profile-info h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 10px;
}

.profile-info ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}
.profile-info li {
    list-style: none;
    width: 300px;
    box-sizing: border-box;
    padding: 10px;
}

.profile-info a{
    text-decoration: none;
    color: #fff;
}
.profile-info i {
    width: 20px;
    color: #fff;
    padding-right: 10px;
}